#map {
  height: 100vh;
  z-index: 0;
}

.box {
  width: 100px;
  height: 10vh;
  background-color: blue;
  margin: 20px;
}

#main-div {
  position: relative;
}

.page {
  position: absolute;
}

.show {
  transition: 1s;
  transform: translateX(0);
  transform: translateY(0);
  transition-timing-function: ease-in-out;
}

.page-left {
  transition: 1s;
  transform: translateX(-100%);
}

.page-up {
  transition: 1s;
  transform: translateY(-100%);
}

.nav-up {
  transition: 2s;
  transform: translateY(-100%);
  transition-timing-function: ease;
}

/* search bar */
#search-food-input {
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  width: 45vw;
  border-radius: 30px;
  background-color: lightgrey;
  opacity: 0.8;
}



/* current location button */
#location-btn {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  background-color: lightgrey;
  border-radius: 10px;
  z-index: 1253;
  opacity: 0.9;
}

/* dropdown filter */
#dropdownMenuButton {
  background-color: lightgrey;
  color: black;
  border-radius: 10px;
}

/* navbar */
#nav-bar {
  box-shadow: 0px 0px 1px 3px #aaaaaa;
  border-radius: 25px;
  background-color: rgb(196, 186, 186)!important;
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  opacity: 0.8;
}

/* start page */
#start-page {
  padding: 0;
}

/* map page */
#map-page {
  padding: 0;
}

/* background image */
#bg-image {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.75;
}

#start-btn {
  width: 150px;
  border: black solid 3px;
  background-color: rgb(29, 211, 99);
  opacity: 0.8;
  border-radius: 20px;
}

#start-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 1px 8px #aaaaaa;
  background-color: lightgreen!important;
  cursor: pointer;
}

/* search food button */
#submit-btn {
  background-color: rgb(160, 161, 161);
  border-radius: 30px;
}

#submit-btn-icon {
  height: 20px;
}

#submit-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 1px 3px #aaaaaa;
  background-color: lightgreen!important;
  cursor: pointer;
}

/* back button */
#back-btn-icon {
  height: 30px;
}

#back-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  bottom: 0;
  margin: 30px;
  z-index: 2345234523;
}

#back-btn:hover {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0px 0px 1px 3px #aaaaaa;
  background-color: lightgreen;
  cursor: pointer;
}

/* contact page (message icon) */
#message-icon {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;

}

/* pop up */
/* routing button */
.routing-btn {
  border-radius: 10px;
  background-color: rgb(29, 211, 99);
  margin-top: 10px;
}

.routing-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 1px 3px #aaaaaa;
  background-color: lightgreen;
  cursor: pointer;
}

.pop-up-header {
  font-weight: bold;
  text-align: center;
}


/* distance slider */
#distance-slider {
  width: 30vw; 
  margin-top: 10px;
  background-color: rgb(129, 176, 218);
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

/* search bar */
#search-bar-div {
  top: 10%;
}

#search-food-input {
  height: 30px;
  opacity: 0.6;
}