#map {
  height: 100vh;
}


.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 20px;
}

#main-div {
  position: relative;
}

.page {
  position: absolute;
}

.show {
  transition: transform 1s;
  transform: translateX(0)
}

.hidden {
  transform: translateX(100%)
}